@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";



@layer theme {
  :root {
    --font-sans: 'Inter', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc; /* bg-slate-50 */
  color: #0f172a; /* text-slate-900 */
}
